<div class='menu-item large-4 medium-6 small-12 columns'>
  <img class='item-photo' src= <%= result[key].picture %> height='75px' width='100px'>
  <p class='item-title'><%= result[key].name %></p>
  <p class='item-price'>$<%= result[key].price %></p>
  <p class='item-description'><%= result[key].description %></p>
</div>