<nav id='nav-bar'>
  <h1>The Eating Place</h1>
    <span>Your order total: <p id='order-total'> $0.00</p></span>
    <input class="button-primary" type='submit' value='submit' id="order-submit">
  </nav>