<!-- will probably need to install sass middleware once working with a server -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>The Future is Now </title>

    <link rel='stylesheet' href='./styles/foundation.min.css' type='text/css'>
    <link rel='stylesheet' href='./styles/main.css' type='text/css'/>
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
    <script src='./scripts/app.js'></script>

  </head>



  <body>

    <nav id='nav-bar'>
      <span>Your order total: <p id='order-total'> $0.00</p></span>
      <input type='submit' value='submit'>
    </nav>



    <div class='row small-up-1 medium-up-3 large-up-4' id='menu-container'>
      <% for (key in result) { %>
        <%- include('./partials/_menu_item', { result: result, key: key }) %>
      <% } %>


    </div>

  </body>
</html>
