<!-- will probably need to install sass middleware once working with a server -->

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>The Future is Now </title>

    <link rel='stylesheet' href='./styles/foundation.min.css' type='text/css'>
    <link rel='stylesheet' href='./styles/main.css' type='text/css'/>


  </head>



  <body>

    <nav id='nav-bar'>
      <span>Your order total: <p id='order-total'> $40.00</p></span>
    </nav>



    <div class='row small-up-1 medium-up-3 large-up-4' id='menu-container'>
      <% for (key in result) { %>
        <%- include('./partials/_menu_item', { result: result, key: key }) %>
      <% } %>


    </div>

  </body>
</html>
