#nav-bar {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: gray;
  z-index: 1;

}

span {
  padding: 2.4em;
  padding-bottom: 5px;
  float: right;
}

#order-total {
  float: right;
  padding-left: 5px;
}



