#nav-bar {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #804715;
  color: #ffd2aa;
  z-index: 1;
  padding: 12px;
}

#nav-bar h1 {
  display: inline;
  margin: 20px;
}

#nav-bar span {
  padding: 1.4em;
  padding-bottom: 5px;
  float: right;
}

#nav-bar #order-total {
  float: right;
  padding-left: 5px;
}

#nav-bar #order-submit {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#menu-container {
  background-color: #d49c6a;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 1em;
  margin: 110px 2em 0 2em;
}

#menu-container .menu-item {
  background-color: #ffd2aa;
  border: 2px solid #552800;
  border-radius: 5px;
  padding: 1em;
  width: 250px;
}

#menu-container .menu-item h2 {
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
}

#menu-container .menu-item .item-description {
  font-style: italic;
}

#menu-container .menu-item .item-price {
  color: #236267;
  font-size: small;
  font-weight: bold;
}

#menu-container .menu-item img {
  max-width: 90%;
  max-height: 15em;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

#menu-container .menu-item .add-to-order {
  float: right;
}

#menu-container .menu-item .item-price {
  float: right;
  margin: 0 0.5em;
}

#menu-container .menu-item:hover {
  border: 2px solid;
}

body {
  background: #aa6e39;
  color: #552800;
  padding: 0 2em 0 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffd2aa;
}
