#nav-bar {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #804715;
  color: #ffd2aa;
  z-index: 1;
  padding: 12px;
}

#nav-bar h1 {
  display: inline;
  margin: 20px;
}

#nav-bar .nav-text {
  padding: 1.4em;
  padding-bottom: 5px;
  float: right;
}

#nav-bar #order-total {
  float: right;
  padding-left: 5px;
}

#menu-container {
  background-color: #d49c6a;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 1em;
  margin: 110px 2em 0 2em;
}

#menu-container .menu-item {
  background-color: #ffd2aa;
  border: 2px solid #552800;
  border-radius: 5px;
  padding: 1em;
  width: 250px;
}

#menu-container .menu-item h2 {
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
}

#menu-container .menu-item .item-description {
  font-style: italic;
}

#menu-container .menu-item .item-price {
  color: #236267;
  font-size: small;
  font-weight: bold;
}

#menu-container .menu-item img {
  max-width: 90%;
  max-height: 15em;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

#menu-container .menu-item .button-primary {
  background-color: white;
  border: 2px solid;
  margin: 5px;
  border-radius: 2px;
}

#menu-container .menu-item .add-to-order {
  float: right;
}

#menu-container .menu-item .remove-from-order {
  float: right;
  padding: 2px 7px 2px 7px;
  font-size: 120%;
}

#menu-container .menu-item .item-price {
  float: right;
  margin: 0 0.5em;
  padding: 6px;
}

#menu-container .menu-item.darker {
  background-color: #ffaa5e;
}

#menu-container .menu-item:hover {
  border: 2px solid;
}

#dropdown-button {
  float: right;
  margin: 2em;
  opacity: 0.9;
}

.pane-item {
  white-space: nowrap;
  color: gray;
}

.pane-item .price {
  float: none;
}

#your-order-heading {
  color: gray;
  flaot: left;
}

.button-dropdown {
  background-color: white;
  border: 2px solid gray;
  color: gray;
  margin: 5px;
  border-radius: 2px;
}

.button-dropdown:hover {
  border-color: black;
  color: black;
}

.add-to-order {
  float: right;
  padding: 2px 6px 4px 5px;
}

.remove-from-order {
  float: right;
  padding: 1px 7px 2px 7px;
  font-size: 120%;
}

body {
  background: #aa6e39;
  color: #552800;
  padding: 0 2em 0 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffd2aa;
}
