$primary: #29516D;
$primary-dark: #123752;
$primary-light: #486e88;
$primary-xdark: #032137;
$primary-xlight: #708ea4;
$complimentary: #aa7939;
$complimentary-dark: #805115;
$complimentary-light: #d4a66a;


$nav-height: 100px;
