$primary: #aa6e39;
$primary-dark: #804715;
$primary-light: #d49c6a;
$primary-xdark: #552800;
$primary-xlight: #ffd2aa;
$complimentary: #236267;
$complimentary-dark: #0e484e;
$complimentary-light: #417c81;


$nav-height: 100px;
